@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tourney";
  src: url("../public/fonts/Tourney-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../public/fonts/IBMPlexMono-Medium.ttf");
}

